/* Body set to width 1260px for desktop view*/

body {
    width: 1260px;
    margin: 0 auto;
    background-color: black;
    color: rgba(20, 17, 17, 0.952);
    font-weight: bolder;  
    padding: 1% 0% 1% 0%;
  }
  /* Navigation .css*/
  
  .nav-container {
    width: 100%;
    background-color: rgb(194, 5, 5);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; 
    margin: 0 auto;
  }
  
  a {
    text-decoration: none;
    font-size: 16px;
    margin: .5%;
    padding: 1%;
    color: rgba(20, 17, 17, 0.952);
    font-weight: bolder;
    border: 2px solid black;
    background-color: skyblue;
  }
  /*jumbo tron*/
  
  header {
    background-color: darkred;
    width: 100%;
    text-align: center;
    margin: 1% 0% 1% 0%;
  }
  
  header p {
    font-size: 30px;
    padding: 1%;
    margin: 0 auto;
  }
  /*main intro*/
  
  .img-intro-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: rgb(194, 5, 5);
    color: rgba(20, 17, 17, 0.952);
    font-weight: bolder;
  }
  
  .img-intro {
    width: 45%;
    margin: 2%;
    padding: 2%;
    background-color: maroon;
  }
  
  .text-intro-container {
    width: 45%;
    margin: 2%;
    padding: 2%;
    background-color: maroon;
    
  }
  
  .text-intro-container h1 {
    padding-bottom: 3%;
    font-size: 30px;
  }
  
  .intro-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: 2px solid black;
    background-color: rgba(218, 96, 49, 0.781);
    margin: 0 auto;
    height: 100%;
  }
  
  /*.img-intro-container two reverse img*/ 
  
  .two {
    width: 100%;
    height: 100%;
    flex-flow: row-reverse nowrap;
    margin: 1% 0 1% 0;
  }
  
  .two .intro-text {
    width: 100%;
    height: 100%;
  }
  
  .img-two {
    width: 46%;
    height: 88%;
  }
  
  .second-container {
    width: 46%;
    height: 88%
  }
  
  article h1 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 2%;
  }
  
  article h2 {
    padding: 1%;
    font-size: 22px;
    text-align: center;
  }
  
  article h2 p {
    font-size: 19px;
    text-align: center;
  }
  
  article  p {
    text-align: center;
    padding: 3%;
    line-height: 150%;
  }
  
  
  
  .bottom-nav {
    justify-content: center;
  }
  
  .bottom-nav a {
    text-decoration: none;
    font-size: 16px;
    margin: 1% 2% 1% 2%;
    color: rgba(20, 17, 17, 0.952);
    font-weight: bolder;
  }
  
  .contact-info {
    color: rgba(20, 17, 17, 0.952);
    background-color: rgb(194, 5, 5);
    text-align: center;
    margin-top: 1%;
  }
  
  @media (max-width: 500px) {
    body {
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  
    .nav-container {
      width: 100%;
      margin: 0 auto;
    }
  
    a {
      margin: 0 auto;
      padding: 1%;
      font-size: 10px;
    }
  
    header p {
      font-size: 15px;
    }
  
    .img-intro-container {
      flex-flow: column nowrap;
      align-items: center;
    }
  
    .img-intro {
      width: 40%;
    }
  
    .text-intro-container {
      width: 80%;
    }
  
    .img-two {
      display: none;
    }
  
    .two {
      height: 100%
    }
  
    
  }